body {
    background-color: #D7CEC7;
}

.header {
    text-align: center;
    font-family: 'Dancing Script';
    color: aliceblue;
    padding: 30px;
}

.content {
    background-color: #D7CEC7;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #665A48;
}