body{
    background-color: #D7CEC7;
}
.header{
    text-align: center;
    font-family: 'Dancing Script';
    color: aliceblue;
    padding: 30px;
}
.content{
    background-color: #D7CEC7;
}
/* D7CEC7 */