body {
    background-color: #D7CEC7;
    font-family: "ubuntu", sans-serif;
    overflow-x: hidden;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    margin: 15px;
}





/*-----------------------------------INTRO-SECTION---------------------------------------*/

#kh {
    height: 80px;
    width: 75px;
    margin-right: 20px;
}

#navbar-brand-small{
    color: #fff;
    font-family: 'Cairo', sans-serif;
    position: absolute;
    left: 165px;
    top: 130px;
}


#intro-section{
    background-color: #704F4F;
}

#intro-div{
    text-align: center;
    padding: 20px 60px;
    font-family: 'Satisfy', cursive;
}

#intro-div h1 {
    color: #fff;
    font-size: 4rem;
}

#intro-div h1 span {
    font-size: 12rem;
    color: #fff;
    animation: glow 500ms ease-in-out infinite alternate;
}


@keyframes glow {
    33% {
        text-shadow: 0 0 10px #FFFF00 
    }

    66%{
        text-shadow: 0 0 20px #FFFF00 
    }
    99%{
        text-shadow: 0 0 30px #FFFF00 
    }
}

.intro-section .fa-solid {
    font-size: 64px;
}

.navbar-brand{
    font-size: 45px;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    padding: 55px 60px 40px;
    font-size: 20px;
}


.xpand {
    border-radius: 50px;
    font-size: 25px;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    display: inline-block;
} 


.xpand span {
    max-width: 0;
    transition: max-width 500ms;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
}

.xpand:hover span {
    max-width: 6rem;
}

.ac_circle{
    background-color: #fff;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-width: 2px;
    border-color: #fff;
}


/*-----------------------------------BESTSELLER-SECTION---------------------------------------*/


.dashboard {
    background-color: #D7CEC7;
    text-align: center;
    padding-top: 2%;
    padding: 20px;
}

.dashboard p{
    font-size: 30px;
    color: rgb(185, 95, 39);
}

.dashboard{
    margin-left: 200px;
}

.books-section{
    margin: 7px 15px;

}

.card{
    margin: 7px 20px;
    padding: 10px;
}

.card img{
    height: 350px;
}

.card p{
    font-size: 14px;
    color: rgb(163, 157, 157);
    padding: 5px;
}

.card h5{
    font-weight: bold;
    font-size: 20px;
}

.card-body{
    padding: 12px;
}

.card-body a{
    margin-top: 0px;
}

/*-----------------------------------FOOTER-SECTION---------------------------------------*/


#footer {
    background-color: #704F4F;
    text-align: center;
    color: #fff;
    font-family: 'Abel', sans-serif;
}



/*-----------------------------------MODAL-SECTION-SIGNIN---------------------------------------*/

.container-login {
    margin: 15px;
}

.container-login #bks {
    width: 100%;
    height: 590px;
}

.container-login .form-control{
    height: 50px;
    width: 90%;
    margin-left: 15px;
}

.form-check span {
    margin-right: 40px;
    margin-left: 5px;
}

.form-check-input {
    height: 18px;
    width: 18px;
}

#login-content {
    text-align: center;
    width: 40%;
    padding: 15px;
    
}

.toprt {
    position: absolute;
    right: 15px;
    top: 15px;
}

#login-content h1 {
    font-family: 'Cairo', sans-serif;
    font-size: 60px;
}

.container-login .btn {
    box-shadow: 0 10px 30px 0 #DAA06D;
    width: 140px;
    height: 50px;
    background-image: linear-gradient(135deg,#E97451 60%,#A52A2A 90%, #800020 100%);
    transition: transform 250ms;
}

.container-login .btn:hover {
    animation: signinbtn 250ms ease-in-out alternate forwards;
    transform: scale(1.15);
}

@keyframes signinbtn {
    0%{
        background-image: linear-gradient(135deg,#E97451 98%,#A52A2A 99%, #800020 100%);
        
    }

    25%{
        background-image: linear-gradient(135deg,#E97451 76%,#A52A2A 95%, #800020 100%);
        
    }

    50%{
        background-image: linear-gradient(135deg,#E97451 56%,#A52A2A 90%, #800020 100%);
        
    }

    75%{
        background-image: linear-gradient(135deg,#E97451 36%,#A52A2A 85%, #800020 100%);
        
    }

    100%{
        background-image: linear-gradient(135deg,#E97451 16%,#A52A2A 80%, #800020 100%);
        
    }
}


