<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link for google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <!-- Link to bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/notes.css">
    <title>Notes</title>
</head>

<body>
    <div class="header" style=" background-color: #704F4F;">
        <h1>Notes</h1>
    </div>
    <div class="row m-5">
        <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
            <img src="/images/maths2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mathematics</h5>
                <p class="card-text"></p>
                <a href="/math" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
            <img src="/images/toc.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Theory of Computation</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
            <img src="/images/fee.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fundamental of Electronics</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="row">
            <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
                <img src="/images/dsd.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Digital System Design</h5>
                    <p class="card-text"></p>
                    <a href="/dsd" class="btn btn-primary">Explore</a>
                </div>
            </div>
            <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
                <img src="/images/se.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software Engineering</h5>
                    <p class="card-text"></p>
                    <a href="/set" class="btn btn-primary">Explore</a>
                </div>
            </div>
            <div class="card m-3 p-3 col-lg-4" style="width: 25rem;">
                <img src="/images/co.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comperter Organization</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>