<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--local CSS-->
    <link rel="stylesheet" href="SignIn.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!--
        <table>
            <tr>
                <td>
                    <img src="images/bks.jpg" alt="bks" id="bks">
                </td>
                <td id="login-content">
                    <h5>Login</h5><br>
                    <p>Don't have an account? <a href="google.com"> Sign Up</a> already <br> in less than a minute!</p><br><br>
                    <form action="">
                        <input type="text" id="username" placeholder="Username"><br><br>
                        <input type="password" id="password" placeholder="Password"><br><br><br>
                        <a href="" id="frgtme">Forget Password?</a><br><br><br><br>
                        <button class="btn btn-outline-dark btn-lg">Login</button>
                    </form>

                </td>
            </tr>
        </table>-->

        <table>
            <tr>
                <td>
                    <img src="images/bkss.png" alt="bks" id="bks">
                </td>
                <td id="signup-content">
                    <h5>Sign Up</h5><br>
                    <form action="">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                              <small>First Name:</small>
                              <input type="text" class="form-control" id="fname" placeholder="First Name">
                            </div>
                            <div class="form-group col-lg-6">
                                <small>Last Name:</small>
                              <input type="text" class="form-control" id="lname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <small>Email-ID:</small>
                            <input type="text" class="form-control" id="email" placeholder="Enter Email-ID">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <small>Date of Birth:</small>
                                <input type="date" class="form-control" id="DOB" placeholder="Enter Birth Date">
                            </div>
                            <div class="form-group col-lg-6">
                                <small>Gender:</small><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Gender" id="male" value="M"><Span>Male</Span>
                                    <input class="form-check-input" type="radio" name="Gender" id="female" value="F"><Span>Female</Span>                                
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <small>Username:</small>
                            <input type="text" class="form-control" id="username" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <small>Password:</small>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <small>Confirm Password:</small>
                            <input type="password" class="form-control" id="cpassword" placeholder="Re-enter Password to Confirm">
                        </div>
                        <button class="btn btn-outline-dark btn-lg ml-auto">Register</button>
                    </form>

                </td>
            </tr>
        </table>
        
        

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>